{% load staticfiles %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Propuesta sival</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="{% static 'formulario/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'propuesta/css/principal.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="col-sm-6 left"></div>
        <div class="col-sm-6 right">       
            <div class="header">                               
                <span class="line-red"></span>
                <h4>transportes sival</h4>
                <span class="line-red"></span>
            </div>  
            <div class="main">    
                <div class="box sidebar">
                    <div class="line-vertical">
                        <span class="line-vertical"></span>
                        <p>s</p>
                        <p>i</p>
                        <p>v</p>
                        <p>a</p>
                        <p>l</p>
                    </div>
                </div>    
                <div class="box content">
                    <h3>En el</h3>
                    <h2>corazón</h2>
                    <h3>de la</h3>
                    <h2>carretera</h2>
                    <div class="frace">
                        <p>Donde quieras que vayas,</p>
                        <p>ve con todo tu corazón.</p>
                        <span class="cent">Confucio</span>
                    </div>
                </div>    
                <div class="box sidebar">
                    <div class="line-vertical">
                        <span class="line-vertical"></span>
                        <p>2</p>
                        <p>0</p>
                        <p>1</p>
                        <p>6</p>                        
                    </div>
                </div>  
            </div>  
            <div class="footer">
                <a href="{% url 'propuesta:ver' propuesta.slug %}" class="btn">ver propuesta</a>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'formulario/js/jquery-2.1.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'formulario/js/bootstrap.min.js' %}"></script>
    </body>
</html>
