/* 
    Created on : 8/01/2016, 12:09:56 PM
    Author     : jose
*/
@import url(https://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body,html
{
    width: 100%;
    height: 100%;
}

button:focus
{
    outline: none !important;
}

a:focus
{
    outline: none !important;
}

a:hover
{
    text-decoration: none;
}

.left
{
    height: 100%;
    background: url(../img/fondo1.jpg) no-repeat center center;
}

.right
{
    height: 100%;
    position: relative;
    display: table;
    text-align: center;
    padding: 0px;
}

.line-red
{
    background-color: #E55834;
    width: 80px;
    height: 1px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 3px;
}

h4
{
    color: #E55834;
    display: inline-block;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 2px;
    font-weight: inherit;
}


.header {
  display: table-row;
  height: 1px;
}
.main {
  height: 100%;
  display: table;
  width: 100%;
}
.box {
  display: table-cell;
  vertical-align: middle;
}
.sidebar {
  width: 10px;
}

.footer {
  display: table-row;
  height: 10px;
}

h3
{
    color: #E55834;
    font-family: 'Cardo';    
    margin: 0px;
    font-style: italic;
    font-size: medium;
}

h2
{
    color: #E55834;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;  
    letter-spacing: 18px;
    font-weight: 700;
    font-size: 40px;
}

.frace
{
    margin-top: 50px;
}
.frace p{
    margin: 0px;
    font-family: 'Cardo';  
    font-style: italic;
    font-size: 23px;
}

.cent
{
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Cardo';
    color: #999999;
}
.line-vertical 
{
    text-align: center;
    margin-left: 10px;
    margin-right:  10px;
}

.line-vertical span
{
    background-color: #999999;
    width: 1px;
    height: 70px;
    display: block;
    margin-bottom: 5px; 
}

.line-vertical p{
    font-family: 'Montserrat';
    color: #999999;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 12px;
}

.btn
{
    color: #E55834;
    font-family: 'Montserrat';
    font-size: 10px;
    text-transform: uppercase;
    border: 2px solid #E55834;
    margin-bottom: 30px;
    letter-spacing: 2px;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.arriba
{
    height: 50%;
    background: url(../img/fondo2.jpg) no-repeat center center;
    text-align: center;
}

.abajo
{
    height: 30%;
    width: 100%;
    background-color: #1C2826;
    text-align: center;
    color: white;
    display: table
}

.abajo h1{
    font-size: 40px;    
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

.abajo p{
    font-family: 'Cardo';
    font-size: 15px;
    margin-bottom: 5px;
}

.abajo button
{
    margin-top: 30px;
    color: black;
    background-color: white;
    border: none;
    padding: 5px 40px 5px 40px;
    font-family: 'Cardo';
}

.micontenedor
{
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

.texto
{
    display: table-cell;
    vertical-align: middle;
    color: white;
    
}

.texto h1{
    font-size: 50px;
    font-family: 'Montserrat';
}

.texto span
{
    font-weight: bold;
}
.texto p{
    font-size: 20px;
}



.centro
{
    padding-top: 120px;
    height: 50%;
    display: initial;
}

.contenedor
{
    padding-left: 30%;
    padding-right: 30%;
    font-family: 'Cardo';
}

.contenedor h1
{
    color: black;
    font-size: 35px;
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

.contenedor h2
{
    color: #BCBCBC;
    margin: 0px;
    font-size: 20px;
    font-family: 'Montserrat';
    text-transform: none;
    letter-spacing: normal;
    font-weight: 100;
    
}

.contenedor p
{
    line-height: 34px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Cardo';
}

.contenedor span
{
    height: 1px;
    width: 35%;
    background-color: #BCBCBC;
    display: block;
    margin-bottom: 50px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
}

.container-pro
{
    display: flex;
}

.container-pro div
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.btn-normal
{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
    background-color: white;
    border: 1px solid #BCBCBC;
    font-size: 18px;
}

.btn-normal:hover
{
    background-color: #57E378;
    color: white;
}

.selecionado
{
    background-color: #57E378;
    border-color: #57E378;
    color: white;
}

.informacion
{
    display: none;
}

.informacion p
{
    color: #909090;
    text-align: center;
    font-size: 15px;
}

.informacion a
{
    color: white;
    background-color: #E8572A;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 10px;
}

.tabla
{
    width: 100%;
    font-size: 18px;
}

.tabla tr th,td
{
    border: 1px solid #BCBCBC;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 50%;
}

.tabla tr th
{
    background-color: #FBFBFB;
    font-weight: normal;
    color: #909090;
}

.formulario
{
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'Montserrat';
    
}

.formulario input
{
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: -1px;
    padding-top: 15px;
    padding-left: 50px;
    border: 1px solid #BCBCBC;
}

.formulario input:focus + .mis-iconos
{
    color: black;
}

.formulario button
{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
    background-color: #E8572A;
    color: white;
    margin-bottom: 25px;
}

.formulario p
{
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}
.formulario p a{
    color: #888888;
}

.mis-iconos
{
    position: absolute;
    top: 12px;
    left: 12px;
    color: #A9A9AE;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
