/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/12/2015, 04:34:11 PM
    Author     : jose
*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.verde
{
    text-align: center;
    color: #27c24c;
}

.rojo
{
    text-align: center;
    color: red;
}
.titulo h1
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
}

.titulo h2
{
    font-size: 20px;
    margin: 0px;
}

.titulo h3
{
    font-size: 20px;
    margin: 0px;
    color: #7266BA;
}

.titulo h4
{
    font-size: 15px;
    margin: 0px;
}

.logo{
    
    font-size: 24px;
}

.aside-personal
{
    padding-top: 10px;
}

.contenido
{
    margin-top: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

th{
    border-bottom: none !important;
}

#tabla-datos td
{
    vertical-align: middle;
    padding-left: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#tabla-datos 
{
    border: none;
    width: 100%;
}

#tabla-solicitud
{
    border: none;
    width: 100%;
}

.mi-contenedor
{
    margin-left: 5px;
    margin-right: 5px;
}
.mi-row
{
    margin: 0px;
}

#resumen
{
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 25px;
    font-weight: 100;
}

#tabla-trayecto thead tr th
{
    border-left: 1px solid #dee5e7;
}

.comentarios
{
    padding: 15px;
    background-color: #FAFBFC;
}

.comentarios span
{
    font-size: 15px;
    font-weight: 600;
}


.formulario{
    margin-top: 17px;
    margin-left: 60px;
    margin-right: 60px;
}

.formulario label
{
    width: 100%;
}

.formulario input
{
    margin-bottom: 12px;
}

#tabla-trayecto thead tr th
{
    cursor: pointer;
}
.superior
{
    background-color: #FAFBFC;
}

.p-interior th
{
    color: #834dbd
}

