{% extends "administrador/index.html" %}
{% load staticfiles %}


{% block link %}
<link href="{% static 'administrador/css/load.css' %}" rel="stylesheet">
{% endblock %}


{% block title %}
Panel principal
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading titulo">
        <h2>Solicitudes pendientes</h2>
    </div>
    <div class="table-responsive">

        <table  id='tabla-datos'class="table table-striped b-t b-b" > 
            <thead>
                <tr>
                    <th  style="width:15%">Nombre</th>
                    <th  style="width:15%">Fecha de solicitud</th>
                    <th  style="width:15%">Punto de salida</th>
                    <th  style="width:15%">Punto de llegada</th>
                    <th  style="width:10%">Ida y vuelta</th>
                    <th  style="width:15%">Kms recorridos</th>
                    <th  style="width:15%"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="panel panel-default" style="display: none" id="contenedor2">
    <div class="panel-heading titulo">
        <h3>Enviar cotización</h3>
    </div>
    <div class="table-responsive interior">
        <div class="mi-contenedor">
            <div class="row mi-row">
                <div class="col-sm-4 " id="derehca">
                    <div class="panel panel-default formulario">
                        <div class="panel-heading font-bold">Formulario de cotización</div>
                        <div class="panel-body">
                            <form role="form" id="form-origen">
                                <div class="form-group">
                                    <label>Precio trayecto ida</label>
                                    <input type="number" class="form-control" id="cmp1">
                                </div>
                                <div class="form-group" id="campovuelta">
                                    <label>Precio trayecto vuelta</label>
                                    <input type="number" class="form-control" id="cmp2" >
                                </div>
                                <div class="form-group">
                                    <label>Comentarios</label>
                                    <textarea rows="4" cols="50" id="comentarios" class="form-control" style="resize: none;"></textarea>
                                </div>

                                <button class="btn m-b-xs w-xs btn-dark form-control" style="width: 100%" id="pp1" type="button">Previsualizar cotización</button>
                                <button class="btn m-b-xs w-xs btn-success" type="submit" style="width: 100%">Enviar</button>                                                        
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" id="izquierda">
                    <span class="col-sm-12" id="resumen">Resumen de solicitud</span>
                    <div class="col-sm-6">
                        <table  id='tabla-trayecto'class="table table-striped panel panel-default" > 
                            <thead>
                                <tr>
                                    <th  style="width:50%" class="superior" id="s1">Trayecto de ida</th>
                                    <th  style="width:50%" id="s2">Trayecto de vuelta </th>                                                            
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    <th>Fecha de salida</th>
                                    <td><span id="fecha">20-10-2015</span></td>                                                               
                                </tr>
                                <tr role="row" class="odd">
                                    <th>hora de salida</th>
                                    <td><span id="hora">2:30pm</span></td>                                                               
                                </tr>
                                <tr role="row" class="odd">
                                    <th>Km recorridos</th>
                                    <td><span id="klm">2:30pm</span></td>                                                               
                                </tr>
                            </tbody>
                        </table>  
                        <button class="btn m-b-xs w-xs btn-primary" type="submit" style="width: 100%;margin-top: -10px;" id="but">Ve r mapa</button>
                    </div>
                    <div class="col-sm-6">
                        <table  id='tabla-info'class="table table-striped panel panel-default" > 
                            <thead>
                                <tr>
                                    <th style="width:50%">Nombre</th>
                                    <td style="width:50%;padding-left: 15px;" id="nom-tab">Carlos roso</td>
                                </tr>
                            </thead>

                            <tbody>

                                <tr role="row" class="odd">
                                    <th>Email</th>
                                    <td id="em-tab">Carlos roso</td>
                                </tr>                                                        
                                <tr role="row" class="odd">
                                    <th>Fecha de solicitud</th>
                                    <td id="fes-tab">20-10-2015</td>
                                </tr>
                                <tr role="row" class="odd">
                                    <th>Ida y vuelta</th>
                                    <td id="ida-tab">si</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="panel panel-default comentarios">
                            <span>Comentarios:</span>
                            <br>
                            <label id="comen">Hola esto es un comek as sdf sad fsa fas df asd fsa df sad fasd f asd fasd fas df asd fa f asd f</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fondo-load" id="load-block">
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>


{% endblock %}


{% block script %}
<script type="text/javascript" src="{% static 'administrador/js/propio.js' %}"></script>
{% endblock %}