{% extends "administrador/index.html" %}
{% load staticfiles %}

{% block link %}
{% endblock %}

{% block title %}
Propuestas
{% endblock %}

{% block body %}
<div class="panel panel-default">
    <div class="panel-heading titulo">
        <h2>Solicitudes</h2>
    </div>
    <div class="table-responsive">

        <table  id='tabla-propuestas'class="table table-striped b-t b-b" style="border: none"> 
            <thead>
                <tr>
                    <th  style="width:20%">Fecha propuesta</th>
                    <th  style="width:20%">Numero pasajeros</th>
                    <th  style="width:20%">Identificación</th>
                    <th  style="width:20%">Telefono</th>  
                    <th  style="width:20%">Tipo bus</th>                                            
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'administrador/js/propio.js' %}"></script>
<script type="text/javascript" src="{% static 'administrador/js/propuestas.js' %}"></script>
{% endblock %}